<h3>Sign Up Confirmation</h3>
<h4>Are you sure these values are correct? </h4>

<div class= "row">
  <div class="col-md-4">
    <h5> Name: <%= @user.name %> </h5>
  </div>
</div>
<div class= "row">
  <div class="col-md-2">
    <h5> Email: <%= @user.email %> </h5>
    <%= button_to "Yes", {controller: "users", action: "create", params: params}, class: 'btn btn-success' %>
    <%= button_to "No", {controller: "users", action: "new"}, class: 'btn btn-no-success', :method => :get %>
  </div>
</div>
